<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p><label for="email">Email: <input type="text" name="email" id="email"></label></p>
  <p><label for="password">Password: <input type="text" name="password" id="password"></label></p>
  <input type="submit" name="submit" value="Log In" id="submit">
</form>
