<h1>Sign Up Below:</h1>

<form class="" action="/registrations" method="post">
    <label>name: </label>
    <input type="text" name="name" value="name" id="name">
    <br>
    <label>email: </label>
    <input type="text" name="email" value="email@email.com" id="email">
    <br>
    <label>password: </label>
    <input type="text" name="password" value="password" id="password">
    <br>
    <input type="submit" name="" id="Sign Up">
</form>

