<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  Name:<br>
  <input type="text" name="name"><br>
  <br>
  Email:<br>
  <input type="text" name="email" value="email"><br>
  <br>
  Password:<br>
  <input type="text" name="password"><br>

  <input type="submit" value="Sign Up">
</form>
