<h1>Sign Up Below:</h1>
<form action='/registrations' method='POST'>
<lable for="name">Name:</lable>
<input type="text" id="name" name="name"><br></br>
<lable for="email">Email:</lable>
<input type="text" id="email" name="email"><br></br>
<lable for="password">Password:</lable>
<input type="text" id="password" name="password"><br></br>
<input type="submit" value="Sign Up">
</form>


