<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  <h1>Name: <input type="text" name="name" id="name"></h1>
  <h1>Email: <input type="text" name="email" id="email"></h1>
  <h1>Password: <input type="text" name="password" id="password"></h1>
  <input type="submit" name="submit" value="Sign Up">
  </form>



